@import "tailwindcss";

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../assets/fonts/PPNeueMontreal-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-black: #000000;
  --color-dark-gray: #1d1d1d;
  --color-medium-gray: #2f3034;
  --color-light-gray: #b0b0b0;
  --color-green: #00d300;
  --color-white: #ffffff;
  --color-red: #ff0000;
  --color-orange: #ff3700;
  --color-yellow: #ffcd00;

  --font-sans: 'PP Neue Montreal', 'Helvetica Neue', sans-serif;

  --type-18: 18px / 1.5 var(--font-sans);
  --type-22: 22px / 1.2 var(--font-sans);
  --type-36: 28px / 1.5 var(--font-sans);
  --type-48: 48px / 1.5 var(--font-sans);
  --type-52: 52px / 1.5 var(--font-sans);

  --type-22-fluid: clamp(16px, 4px + 3.75cqi, 22px) / 1.5 var(--font-sans);
  --type-36-fluid: clamp(18px, -18px + 11.25cqi, 36px) / 1.2 var(--font-sans);
  --type-48-fluid: clamp(22px, -30px + 16.25cqi, 48px) / 1 var(--font-sans);

  --container-name: default;

  --cq-3xs: 16rem;
  --cq-2xs: 18rem;
  --cq-xs: 20rem;
  --cq-sm: 24rem;
  --cq-md: 28rem;
  --cq-lg: 32rem;
  --cq-xl: 36rem;
  --cq-2xl: 42rem;
  --cq-3xl: 48rem;
  --cq-4xl: 56rem;
  --cq-5xl: 64rem;
  --cq-6xl: 72rem;
  --cq-7xl: 80rem;

  --transition-duration: 0.25s;
  --transition-easing: ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.container {
  container-name: var(--container-name, default);
  container-type: inline-size;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}
