@import '@/css/widgets.css';
@source "./chart-bar.html";
@source "./chart-bar.ts";

.chart-bar {
  @apply relative
    w-full
    h-82
    bg-lines-x
    bg-black
    p-4
    grid
    grid-rows-[1fr_auto]
    gap-4
    rounded-14
    select-none;
}

.chart-bar__data {
  @apply flex
    justify-between
    items-end
    size-full;
}

.chart-bar__x-label {
  @apply flex
    justify-between
    items-start
    w-full
    text-white
    text-18
    pointer-events-none;
}

.chart-bar__y-label {
  @apply absolute
    inset-0
    grid
    grid-cols-1
    grid-rows-[auto]
    text-white
    text-18
    pointer-events-none
    p-4;
}
