<div
  data-js-time-out
  class="
    time-out-loader
    relative
    mt-8
    mx-8
    pb-8
  "
>
  <div
    data-js-resize-container
    class="
      normalize
      @container-[size]
      resize
      overflow-auto
      gap-3
      size-12.5
      bg-grey-900
      rounded-14
    "
  >
    <div class="
      relative
      size-full
      aspect-square
      max-h-full
    ">
      <svg
        class="
          size-full
          -rotate-90
        "
        width="50"
        height="50"
        viewBox="0 0 50 50"
        fill="none"
      >
        <!-- grey background ring -->
        <circle
          class="
            stroke-grey-400/60
          "
          stroke-width="8"
          cx="25"
          cy="25"
          r="21"
        />

        <!-- animated progress ring -->
        <circle
          class="
            time-out-loader__ring
            stroke-white
          "
          stroke-width="8"
          stroke-linecap="round"
          cx="25"
          cy="25"
          r="21"
        />
      </svg>

      <div
        class="
          absolute
          inset-0
          flex
          items-center
          justify-center
          text-grey-400
          text-[min(38.5cqb,38.5cqi)]
          font-medium
          tracking-[-0.04em]
          leading-none
        "
      >
        <span data-js-time-out-number></span>
      </div>
    </div>
  </div>

  <div
    data-js-resize-indicator
    class="
      absolute
      text-grey-400
      top-full
      left-full
      text-sm
      -translate-x-full
      translate-y-full
      whitespace-nowrap
      pointer-events-none
    "
  >
    Resize here

    <span class="
      relative
      -top-2.5
      inline-block
      -rotate-6
    ">&#x2934;</span>
  </div>
</div>

