<button data-main type="button" class="
  normalize
  flex
  flex-col
  justify-between
  items-start
  gap-3
  border-none
  rounded-14
  px-8
  py-7
  size-full
  bg-black
  text-white
  outline-2
  outline-transparent
  transition-[outline-color]
  duration-300
  ease-out
  hover:outline-white
  focus:outline-white
">
  <img class="
    block
    w-12
    h-9
  " src="" width="48" height="36" alt="Flag" />

  <span class="
    flex
    flex-col
    items-start
    justify-start
    text-22
    mt-auto
  ">
    <span data-primary class="
      block
      text-white
    ">Italiano</span>
    <span data-secondary class="
      block
      text-grey-400
    ">Italian</span>
  </span>
</button>

