@import '@/css/app.css';
@source "./button.html";
@source "./button.js";

.box {
  --container-name: button;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font: var(--type-22);
  font-weight: 500;
  border: none;
  padding: 16px 48px;
  min-height: 74px;
  color: var(--color-white);
  background-color: var(--color-dark-gray);
}

.button svg {
  display: none;
}

.button--reversed {
  flex-direction: row-reverse;
}

.button--stacked {
  flex-direction: column;
}

.button--stacked.button--reversed {
  flex-direction: column-reverse;
}

.button--full {
  width: 100%;
}

.button--rounded-small {
  border-radius: 22px;
}

.button--rounded-large {
  border-radius: 42px;
}

.button--icon svg {
  display: block;
}
