<figure
  data-js-chart-line
  class="
    chart-line
  "
>
  <div class="
    chart-line__container
  ">
    <svg data-js-data viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" class="
      chart-line__graphic
    ">
      <defs>
        <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" style="stop-color: var(--color-accent); stop-opacity: 0" />
          <stop offset="100%" style="stop-color: var(--color-accent); stop-opacity: 0.5" />
        </linearGradient>
      </defs>

      <polygon
        points=""
        fill="url(#gradient)"
      />

      <polyline
        points=""
        fill="none"
        stroke="var(--color-accent)"
        stroke-width="6"
        stroke-linejoin="round"
        stroke-linecap="round"
        vector-effect="non-scaling-stroke"
      />
    </svg>
  </div>

  <ol
    data-js-y-label
    class="
      chart-line__y-label
    "
  ></ol>

  <ol data-js-x-label class="
    chart-line__x-label
  "></ol>
</figure>
