<div class="
  @container
  container-settings
  relative
  flex
  flex-col
  items-center
  justify-center
  min-h-[400px]
  gap-2.5
  text-center
">
  <div class="
    container__content
    grow
  ">
    <div
      class="
        toaster
        absolute
        left-1/2
        bottom-20
        flex
        flex-col
        items-center
        gap-(--gap)
        w-full
        z-1
        -translate-x-1/2
      "
      id="toaster"
    >
      <!-- Toast notifications will be added here dynamically -->
    </div>
  </div>

  <button
    class="
      relative
      z-2
      py-[0.5em]
      px-[0.75em]
      rounded-md
      mx-auto
      bg-white
      border-none
      transform-gpu
      scale-100
      transition-[scale]
      duration-150
      ease-in-out
      active:scale-97
    "
    id="addToastBtn"
  >
    Add toast
  </button>
</div>
