<div class="
  relative
  mt-8
  mx-8
  pb-8
">
  <div
    class="
      @container-[size]
      container-settings
      resize
      overflow-auto
      flex
      flex-col
      justify-end
      gap-3
      h-50
    "
  >
    THIS IS A CIRCLE
  </div>

  <div
    data-resize-indicator
    class="
      absolute
      text-light-gray
      top-full
      left-full
      text-sm
      -translate-x-full
      translate-y-full
      whitespace-nowrap
      pointer-events-none
    "
  >
    Resize here

    <span class="
      relative
      -top-2.5
      inline-block
      -rotate-6
    ">&#x2934;</span>
  </div>
</div>

