@import '@/css/app.css';
@source "./progress-bar-circle.html";
@source "./progress-bar-circle.ts";
@source "../../utils/progress.ts";

@property --percentage-count {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

@keyframes progress-percentage-animation {
  from {
    --percentage-count: 0;
  }
  to {
    --percentage-count: var(--percentage);
  }
}

.progress-bar-circle__number {
  --percentage-count: 0;

  counter-reset: progress-count var(--percentage-count);
  animation: progress-percentage-animation var(--duration) var(--ease-inOutQuart) forwards;

  &::before {
    content: counter(progress-count);
  }
}

.progress-bar-circle__bar {
  stroke-dasharray: var(--circumference) var(--circumference);
  stroke-dashoffset: var(--offset);

  transition:
    stroke-dashoffset var(--duration) var(--ease-inOutQuart),
    stroke 0.2s var(--ease-out);
}

.progress-bar-circle__limit {
  rotate: calc(45deg + ((var(--limit) / 100) * 360) * 1deg);
}

.progress-bar-circle__dot {
  transform-origin: 200px 200px;
  rotate: calc(((var(--limit) / 100) * 360) * 1deg);
}
