@import '@/css/app.css';
@source "./progress-bar-circle.html";
@source "./progress-bar-circle.ts";
@source "../../utils/progress.ts";

.progress-bar-circle__bar {
  stroke-dasharray: var(--circumference) var(--circumference);
  stroke-dashoffset: var(--offset);
  transition: stroke-dashoffset var(--duration) var(--ease-inOutQuart);
}

.progress-bar-circle__limit {
  rotate: calc(45deg + ((var(--limit) / 100) * 360) * 1deg);
}

.progress-bar-circle__dot {
  transform-origin: 200px 200px;
  rotate: calc(((var(--limit) / 100) * 360) * 1deg);
}
