@import '@/css/app.css';
@source "./progress-bar-circle.html";
@source "./progress-bar-circle.ts";

.progress-bar-circle__ring {
  stroke-dasharray: var(--circumference) var(--circumference);
  stroke-dashoffset: var(--offset);
  transition: stroke-dashoffset var(--progress-duration) var(--ease-out);
}

.progress-bar-circle__limit {
  rotate: calc(45deg + ((var(--lines-count) / 100) * 360) * 1deg);
}
