@import '@/css/app.css';
@source "./progress-bar-circle.html";
@source "./progress-bar-circle.ts";

.progress-ring {
  /* Progress duration can be controlled via CSS variable */
  --progress-duration: 200ms;
}

