@import '@/css/app.css';
@source "./progress-bar-large.html";
@source "./progress-bar-large.ts";
@source "../../utils/progress.ts";

@property --percentage-count {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

@property --limit {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

@keyframes progress-percentage-animation {
  from {
    --percentage-count: 0;
  }
  to {
    --percentage-count: var(--percentage);
  }
}

.progress-bar-large {
  --percentage-unit: calc(var(--percentage) * 1%);
}

.progress-bar-large__number {
  --percentage-count: 0;

  counter-reset: percentage-count var(--percentage-count);
  animation: progress-percentage-animation var(--duration) var(--ease-inOutQuart) forwards;

  &::before {
    content: counter(percentage-count);
  }
}

.progress-bar-large__mask {
  clip-path: polygon(0 0, var(--percentage-unit) 0, var(--percentage-unit) 100%, 0 100%);

  @container (orientation: portrait) {
    clip-path: polygon(
      0 calc(100% - var(--percentage-unit)),
      100% calc(100% - var(--percentage-unit)),
      100% 100%,
      0 100%
    );
  }

  transition: clip-path var(--duration) var(--ease-inOutQuart);
}

.progress-bar-large__lines {
  --line-color: var(--color-grey-800);

  background-image: repeating-linear-gradient(
    to left,
    var(--line-color) 0%,
    var(--line-color) 1px,
    transparent 1px,
    transparent calc(100 / var(--limit) * 1%)
  );
  background-size: calc(var(--limit) * 1%) 100%;
  background-repeat: no-repeat;

  @container (orientation: portrait) {
    background-image: repeating-linear-gradient(
      to bottom,
      var(--line-color) 0%,
      var(--line-color) 1px,
      transparent 1px,
      transparent calc(100 / var(--limit) * 1%)
    );
    background-size: 100% calc(var(--limit) * 1%);
    /* maybe remove position? */
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

.progress-bar-large__limit {
  counter-reset: limit var(--limit);

  &::before {
    content: counter(limit);
  }
}
