@import '@/css/app.css';
@source "./progress-bar-large.html";
@source "./progress-bar-large.ts";

.progress-bar-large__mask {
  clip-path: polygon(0 0, var(--percentage) 0, var(--percentage) 100%, 0 100%);

  @container (orientation: portrait) {
    clip-path: polygon(0 calc(100% - var(--percentage)), 100% calc(100% - var(--percentage)), 100% 100%, 0 100%);
  }

  &.is-animating {
    transition: clip-path var(--progress-duration) cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.progress-bar-large__lines {
  --line-color: var(--color-grey-800);

  opacity: 0;
  transition: opacity 1s var(--ease-out) 0.1s;

  background-image: repeating-linear-gradient(
    to left,
    var(--line-color) 0%,
    var(--line-color) 1px,
    transparent 1px,
    transparent calc(100 / var(--lines-count) * 1%)
  );
  background-size: calc(var(--lines-count) * 1%) 100%;
  background-repeat: no-repeat;

  @container (orientation: portrait) {
    background-image: repeating-linear-gradient(
      to bottom,
      var(--line-color) 0%,
      var(--line-color) 1px,
      transparent 1px,
      transparent calc(100 / var(--lines-count) * 1%)
    );
    background-size: 100% calc(var(--lines-count) * 1%);
    /* maybe remove position? */
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .is-ready & {
    opacity: 1;
  }
}
