<div
  data-js-progress
  class="
    progress-bar-large
    @container-[size]
    normalize
    size-full
  "
>
  <div class="
    grid
    text-[min(60cqb,45cqi,160px)]
    size-full
    bg-black
    rounded-14
    overflow-hidden
  ">
    <!-- Progress bar -->
    <div
      class="
        progress-bar-large__mask
        col-span-full
        row-span-full
        z-1
        flex
        flex-col
        justify-end
      "
    >
      <div
        data-js-progress-bar
        class="
          size-full
          p-[min(10cqi,30px)]
          flex
          flex-col
          justify-end
          bg-accent
          text-black
          @portrait:h-auto
          @portrait:basis-[calc(var(--percentage)*1%)]
          @portrait:justify-start
          transition-[color,flex-basis]
          duration-[0.2s,var(--duration)]
          ease-[var(--ease-out),var(--ease-inOutQuart)]
        ">
        <div
          class="
            tracking-[-0.04em]
            leading-none
            flex
            items-baseline
            gap-[0.1em]
            -mx-[0.035em]
            -my-[0.12em]
          "
        >
          <span class="
            progress-bar-large__number
          "></span>
          <small class="
            text-[60%]
            font-medium
          ">%</small>
        </div>
      </div>
    </div>

    <!-- Progress bar lines -->
    <div
      class="
        progress-bar-large__lines
        col-span-full
        row-span-full
        flex
        flex-col
        justify-end
      "
    >
      <div
        class="
          flex
          items-end
          justify-between
          h-full
          @portrait:flex-col-reverse
          @portrait:items-start
        "
      >
        <div
          class="
            basis-[calc(var(--percentage)*1%)]
            p-[min(10cqi,30px)]
            transition-[flex-basis]
            duration-(--duration)
            ease-inOutQuart
            @portrait:flex
            @portrait:flex-col
            @portrait:justify-start
            @portrait:w-full
          ">
          <div
            class="
              tracking-[-0.04em]
              leading-none
              flex
              items-baseline
              gap-2
              text-white
              -mx-[0.035em]
              -my-[0.12em]
            "
          >
            <span class="
              progress-bar-large__number
            "></span>
            <small class="
              text-[60%]
              font-medium
            ">%</small>
          </div>
        </div>

        <div
          class="
            flex
            items-end
            text-[min(30cqb,3cqi,36px)]
            font-medium
            text-white
            basis-[calc(100%-(var(--limit)*1%))]
            @portrait:text-[min(6cqb,15cqi,36px)]
          "
        >
          <div
            class="
              p-[min(10cqi,30px)]
            "
          >
            <div
              data-js-progress-limit
              class="
                -mx-[0.035em]
                -my-[0.37em]
                transition-[opacity,scale]
                duration-200
                ease-out
              "
            >
              <span class="
                progress-bar-large__limit
              "></span>%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

