<div
  data-js-progress
  class="
    progress-bar-large
    relative
    pb-8
  "
>
  <div
    data-resize-container
    data-js-progress-container
    class="
      @container-[size]
      container-settings
      resize
      overflow-auto
      w-full
      h-100
    "
  >
    <div class="
      grid
      text-[min(35cqmin,160px)]
      size-full
      bg-black
      rounded-xl
      overflow-hidden
    ">
      <!-- Progress bar -->
      <div
        data-js-percentage-mask
        class="
          progress-bar-large__mask
          col-span-full
          row-span-full
          z-1
        "
      >
        <div
          data-js-percentage-bar
          class="
            size-full
            p-[min(10cqmin,30px)]
            flex
            flex-col
            justify-end
            bg-green
            text-black
            transition-colors
            duration-200
            ease-out
          ">
          <div
            class="
              tracking-[-0.04em]
              leading-none
              flex
              items-baseline
              gap-2
              -mx-[0.035em]
              -my-[0.12em]
            "
          >
            <span data-js-percentage-number>56</span>
            <small class="
              text-[60%]
              font-medium
            ">%</small>
          </div>
        </div>
      </div>

      <!-- Progress bar lines -->
      <div
        data-js-percentage-lines
        class="
          progress-bar-large__lines
          col-span-full
          row-span-full
          flex
          flex-col
          justify-end
        "
      >
        <div
          class="
            flex
            @portrait:flex-col-reverse
            @portrait:h-full
          "
        >
          <div
            class="
              w-[calc(var(--lines-count)*1%)]
              @portrait:flex
              @portrait:items-end
              @portrait:w-full
              @portrait:h-[calc(var(--lines-count)*1%)]
              p-[min(10cqmin,30px)]
            "
          >
            <div
              class="
                tracking-[-0.04em]
                leading-none
                flex
                items-baseline
                gap-2
                text-white
                -mx-[0.035em]
                -my-[0.12em]
              "
            >
              <span data-js-percentage-number>56</span>
              <small class="
                text-[60%]
                font-medium
              ">%</small>
            </div>
          </div>

          <div
            class="
              grow
              flex
              items-end
              text-[min(3cqi,32px)]
              @portrait:text-[min(5cqb,32px)]
              font-medium
              text-white
            "
          >
            <div
              data-js-percentage-limit
              class="
                p-[min(10cqmin,30px)]
                transition-[opacity,scale]
                duration-200
                ease-out
              "
            >
              <div
                class="
                  -mx-[0.035em]
                  -my-[0.37em]
                "
              >
                <span data-js-percentage-limit-number>80</span>%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    data-resize-indicator
    class="
      absolute
      text-light-gray
      top-full
      left-full
      text-sm
      -translate-x-full
      translate-y-full
      whitespace-nowrap
      pointer-events-none
    "
  >
    Resize here

    <span class="
      relative
      -top-2.5
      inline-block
      -rotate-6
    ">&#x2934;</span>
  </div>
</div>

