@import '../../css/app.css';
@source "./alert.html";
@source "./alert.js";

.main {
  --container-name: alert;
}

.alert {
  font: var(--type-48-fluid);
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-dark-gray);
  border-radius: 22px;
  padding: 1em;
  aspect-ratio: 16 / 9;
}

.alert__label {
  max-width: 12em;
  opacity: 0;
  animation: fade-in 1s cubic-bezier(0, 0, 0.2, 1) forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.alert__icon {
  width: 1.41em;
  height: 1.41em;
  flex-shrink: 0;
  fill: none;
  border-radius: 50%;
}

.alert__icon-disc {
  width: 100%;
  height: 100%;
  opacity: 0;
  scale: 0.8;
  transform-origin: center;
}

.alert--success .alert__icon-disc {
  fill: var(--color-green);
  animation: scale-in 0.3s cubic-bezier(0, 0, 0.2, 1) forwards;
}

.alert--error .alert__icon-disc {
  fill: var(--color-orange);
  animation: scale-in 0.3s cubic-bezier(0, 0, 0.2, 1) forwards;
}

.alert__icon-circle {
  stroke: var(--color-white);
  stroke-width: 5.7;
  opacity: 0;
  scale: 0.8;
  transform-origin: center;
  animation: scale-in 0.3s cubic-bezier(0, 0, 0.2, 1) 0.15s forwards;
}

@keyframes scale-in {
  to {
    opacity: 1;
    scale: 1;
  }
}

.alert__icon-tick {
  stroke: var(--color-white);
  stroke-width: 5.7;
  stroke-dashoffset: 42;
  stroke-dasharray: 42;
  opacity: 0;
  animation: draw-tick 0.3s cubic-bezier(0, 0, 0.2, 1) 0.2s forwards;
}

@keyframes draw-tick {
  0% {
    opacity: 0;
    stroke-dashoffset: 42;
  }

  50% {
    opacity: 0.75;
    stroke-dashoffset: 30;
  }

  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

.alert--error .alert__icon-tick {
  display: none;
}

.alert__icon-cross-1,
.alert__icon-cross-2 {
  stroke: var(--color-white);
  stroke-width: 5.7;
  stroke-dashoffset: 30;
  stroke-dasharray: 30;
  opacity: 0;
}

.alert__icon-cross-1 {
  animation: draw 0.3s cubic-bezier(0.87, 0, 0.13, 1) 0.2s forwards;
}

.alert__icon-cross-2 {
  animation: draw 0.3s cubic-bezier(0.87, 0, 0.13, 1) 0.3s forwards;
}

.alert--success .alert__icon-cross-1,
.alert--success .alert__icon-cross-2 {
  display: none;
}

@keyframes draw {
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

.alert--error .alert__label--success {
  display: none;
  opacity: 0;
}

.alert--success .alert__label--error {
  display: none;
  opacity: 0;
}

.alert__description {
  font: var(--type-36-fluid);
  color: var(--color-light-gray);
  opacity: 0;
  animation: fade-in 1s cubic-bezier(0, 0, 0.2, 1) forwards;
}

.alert--success .alert__description {
  display: none;
}

.alert__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 14px;
  font: var(--type-22-fluid);
  color: var(--color-light-gray);
  background-color: var(--color-medium-gray);
  padding: 0.9em;
  border-radius: 14px;
  margin-top: 2em;
  opacity: 0;
  scale: 0.95;
  animation: scale-in 0.3s cubic-bezier(0, 0, 0.2, 1) 0.2s forwards;
}

.alert__details-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.alert--success .alert__details {
  display: none;
}
