@import '@/css/app.css';
@source "./progress-bar-small.html";
@source "./progress-bar-small.ts";
@source "../../utils/progress.ts";

@property --percentage-count {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

@property --limit {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

@keyframes progress-percentage-animation {
  from {
    --percentage-count: 0;
  }
  to {
    --percentage-count: var(--percentage);
  }
}

.progress-bar-small {
  --percentage-unit: calc(var(--percentage) * 1%);
}

.progress-bar-small__number {
  --percentage-count: 0;

  counter-reset: progress-count var(--percentage-count);
  animation: progress-percentage-animation var(--duration) var(--ease-inOutQuart) forwards;

  &::before {
    content: counter(progress-count);
  }
}

.progress-bar-small__limiter {
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: calc(var(--limit) * 1% - 20px);
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: inherit;
    translate: -50% 0;
  }
}

.progress-bar-small__mask {
  translate: calc(var(--percentage-unit) - 100%) 0 0;
  transition: translate var(--duration) var(--ease-inOutQuart);
}

.progress-bar-small__limit {
  counter-reset: limit var(--limit);

  &::before {
    content: counter(limit);
  }
}
