@import '@/css/app.css';
@source "./progress-bar-small.html";
@source "../../utils/progress.ts";

.progress-bar-small__limiter {
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: calc(var(--lines-count) * 1% - 20px);
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: inherit;
    translate: -50% 0;
  }
}

.progress-bar-small__mask {
  translate: calc(var(--percentage) - (100% - 0px)) 0 0;

  .progress-bar-small.is-animating & {
    transition: translate var(--progress-duration) cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

@property --lines-count {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

.progress-bar-small__limit {
  counter-reset: limit var(--lines-count);

  &::before {
    content: counter(limit);
  }
}
