<div
  data-js-progress
  class="
    progress-bar-small
    relative
  "
>
  <div
    data-js-resize-container
    class="
      normalize
      @container-[size]
      resize
      overflow-auto
      flex
      flex-col
      justify-end
      gap-3
      h-50
    "
  >
    <div
      class="
        flex
        items-baseline
        gap-10
        text-[min(calc(100cqb---spacing(13)),35cqi,160px)]
      "
    >
      <div
        class="
          basis-[calc((var(--limit)*1%)---spacing(15.5))]
        "
      >
        <div
          class="
            tracking-[-0.04em]
            leading-none
            flex
            items-baseline
            gap-[0.1em]
            text-white
            -mx-[0.035em]
            -my-[0.12em]
          "
        >
          <span class="
            progress-bar-small__number
          "></span>
          <small class="
            text-[60%]
            font-medium
          ">%</small>
        </div>
      </div>

      <div
        class="
          h-full
          flex
          items-end
          text-[min(calc(100cqb---spacing(13)),9cqi,32px)]
          main
          font-medium
          text-white
        "
      >
        <div
          data-js-progress-limit
          class="
            -mx-[0.035em]
            -my-[0.37em]
            transition-[opacity,scale]
            duration-200
            ease-out
          ">
          <span class="
            progress-bar-small__limit
          "></span>%
        </div>
      </div>
    </div>

    <div
      class="
        progress-bar-small__limiter
        shrink-0
        relative
        h-10.5
        bg-black
        rounded-full
        overflow-hidden
        flex
        items-center
      "
    >
      <div
        class="
          progress-bar-small__mask
          absolute
          inset-0
          rounded-[inherit]
          -translate-x-[20%]
        "
      >
        <div
          data-js-progress-bar
          class="
            size-full
            bg-accent
            rounded-[inherit]
            transition-colors
            duration-200
            ease-out
          "
        ></div>
      </div>
    </div>
  </div>

  <div
    data-js-resize-indicator
    class="
      absolute
      text-grey-400
      top-full
      left-full
      text-sm
      -translate-x-full
      translate-y-full
      whitespace-nowrap
      pointer-events-none
    "
  >
    Resize here

    <span class="
      relative
      -top-2.5
      inline-block
      -rotate-6
    ">&#x2934;</span>
  </div>
</div>

