@import '@/css/app.css';
@source "./progress-bar-small.html";
@source "./progress-bar-small.ts";
@source "../../utils/progress.ts";

@property --limit {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

.progress-bar-small__limiter {
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: calc(var(--limit) * 1% - 20px);
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: inherit;
    translate: -50% 0;
  }
}

.progress-bar-small__mask {
  translate: calc(var(--percentage) - (100% - 0px)) 0 0;
  transition: translate var(--duration) var(--ease-inOutQuart);
}

.progress-bar-small__limit {
  counter-reset: limit var(--limit);

  &::before {
    content: counter(limit);
  }
}
