@import '@/css/app.css';
@source "./feedback-progress-bar.html";
@source "./feedback-progress-bar.js";

.progress-bar__percentage {
  clip-path: polygon(0 0, var(--percentage) 0, var(--percentage) 100%, 0 100%);

  @container (orientation: portrait) {
    clip-path: polygon(0 calc(100% - var(--percentage)), 100% calc(100% - var(--percentage)), 100% 100%, 0 100%);
  }

  &.progress-bar__percentage--animating {
    transition: clip-path 1.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
}

.progress-bar__lines {
  --lines-count: 80;
  --line-color: var(--color-medium-gray);

  background-image:
    repeating-linear-gradient(
      to left,
      var(--line-color) 0%,
      var(--line-color) 1px,
      transparent 1px,
      transparent calc(100 / var(--lines-count) * 1%)
    );
  background-size: calc(var(--lines-count) * 1%) 100%;
  background-repeat: no-repeat;

  @container (orientation: portrait) {
    background-image:
      repeating-linear-gradient(
        to bottom,
        var(--line-color) 0%,
        var(--line-color) 1px,
        transparent 1px,
        transparent calc(100 / var(--lines-count) * 1%)
      );
    background-size: 100% calc(var(--lines-count) * 1%);
    background-position: bottom;
    background-repeat: no-repeat;
  }
}