<div
  class="
    @container-[size]
    container-settings
    resize
    overflow-auto
    h-100
  "
>
  <div
    class="
      grid
      text-[20cqmin]
      size-full
      bg-black
      rounded-xl
      overflow-hidden
    "
  >
    <!-- Progress bar -->
    <div
      class="
        progress-bar__percentage
        col-span-full
        row-span-full
        bg-green
        z-1
        flex
        flex-col
        justify-end
      "
    >
      <div
        class="
          tracking-[-0.04em]
          leading-none
          flex
          items-baseline
          gap-2
          text-red
        "
      >
        <span id="progress-percentage-value">56</span>
        <small class="text-[60%] font-medium">%</small>
      </div>
    </div>

    <!-- Progress bar lines -->
    <div
      class="
        progress-bar__lines
        col-span-full
        row-span-full
        flex
        flex-col
        justify-end
        @portrait:justify-startx
      "
    >
      <div
        class="
          flex
          items-baseline
          @portrait:flex-col-reverse
          @portrait:h-full
        "
      >
        <div
          class="
            grow
            @portrait:flex
            @portrait:items-end
          "
        >
          <div
            class="
              tracking-[-0.04em]
              leading-none
              flex
              items-baseline
              gap-2
              text-white
            "
          >
            <span id="progress-percentage-overlay">56</span>
            <small class="text-[60%] font-medium">%</small>
          </div>
        </div>

        <div
          class="
            w-[20%]
            @portrait:h-[20%]
            text-[0.4em]
            font-medium
            text-white
            @portrait:flex
            @portrait:items-end
          "
        >
          <div class="">
            80%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
