<div
  class="
    @container
    container-settings
    p-5
  "
>
  <div
    class="
      grid
      text-[20cqi]
      h-[40cqi]
      bg-black
      rounded-xl
      overflow-hidden
    "
  >
    <!-- Progress bar -->
    <div
      class="
        progress-bar__percentage
        col-span-full
        row-span-full
        bg-green
        z-1
        flex
        flex-col
        justify-end
      "
      style="--percentage: 20%;"
    >
      <div
        class="
          px-7
          py-1
          text-[20cqi]
          tracking-[-0.04em]
          leading-none
          flex
          items-baseline
          gap-2
          text-black
        "
      >
        56
        <small class="text-[60%] font-medium">%</small>
      </div>
    </div>

    <!-- Progress bar lines -->
    <div
      class="
        progress-bar__lines
        col-span-full
        row-span-full
        flex
        flex-col
        justify-end
      "
    >
      <div class="flex items-baseline">
        <div class="grow">
          <div
            class="
              px-7
              py-1
              text-[20cqi]
              tracking-[-0.04em]
              leading-none
              flex
              items-baseline
              gap-2
              text-white
            "
          >
            56
            <small class="text-[60%] font-medium">%</small>
          </div>
        </div>

        <div class="w-[20%] text-[4cqi] font-medium text-white">
          <div class="px-[4cqi] py-1">
            80%
          </div>
        </div>
      </div>
    </div>
<!--
    <div
      class="
        col-span-full
        row-span-full
        w-[20%]
        justify-self-end
        bg-orange
        z-2
        text-[36px]
        font-medium
        flex
        flex-col
        justify-end
        p-5
      "
    >
      80%
    </div> -->
  </div>
</div>
