/* Do not set width, height, or position here */

.container {
  container-type: inline-size;
}

.main {
  width: 100%;
  background-color: red;
}

@container (width > 500px) {
  .main {
    background-color: blue;
  }
}

#container {
  text-align: center;
}
#heading {
  color: #333;
  font-family: inherit;
}
p {
  font-family: inherit;
  color: #ffcccb;
}
