@import './type.css' source(none);
@import 'tailwindcss' source(none);

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-*: initial;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff0000;
  --color-orange: #ff3700;
  --color-yellow: #f9ae00;
  --color-green: #54e300;

  --color-grey-100: #ffffff;
  --color-grey-200: #f0f0f0;
  --color-grey-300: #d9d9d9;
  --color-grey-400: #b3b3b3;
  --color-grey-500: #757575;
  --color-grey-600: #444444;
  --color-grey-700: #333333;
  --color-grey-800: #2c2c2c;
  --color-grey-900: #1e1e1e;
  --color-grey-1000: #000000;

  /* Token Colors (changed on light/dark) */
  --color-danger: var(--color-red);
  --color-warning: var(--color-orange);
  --color-success: var(--color-green);
  --color-accent: var(--color-green);

  --radius-\*: initial;
  --radius-full: 9999px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-14: 14px;
  --radius-22: 22px;
  --radius-42: 42px;

  --font-sans: 'PP Neue Montreal', 'Helvetica Neue', sans-serif;

  --text-\*: initial;
  --text-18: 18px;
  --text-18--line-height: 1.2;

  --text-22: 22px;
  --text-22--line-height: 1.2;

  --text-36: 28px;
  --text-36--line-height: 1.5;

  --text-48: 48px;
  --text-48--line-height: 1.5;

  --text-52: 52px;
  --text-52--line-height: 1.5;

  --text-22-fluid: clamp(16px, 4px + 3.75cqi, 22px);
  --text-22-fluid--line-height: 1.5;

  --text-36-fluid: clamp(18px, -18px + 11.25cqi, 36px);
  --text-36-fluid--line-height: 1.2;

  --text-48-fluid: clamp(22px, -30px + 16.25cqi, 48px);
  --text-48-fluid--line-height: 1;

  --spacing: 4px;

  --ease-inExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-outExpo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-inOutExpo: cubic-bezier(1, 0, 0, 1);
  --ease-inQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-outQuart: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-inOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

  --animate-spin: spin 2s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}

@layer base {
  :root {
    --container-name: default;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* Token Colors (changed on light/dark) */
      --color-danger: var(--color-red);
      --color-warning: var(--color-orange);
      --color-success: var(--color-green);
      --color-accent: var(--color-green);
    }
  }
}

@utility normalize {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-feature-settings: 'ss01'; /* changes a character */
}

@utility bg-chart-x {
  background-image: repeating-linear-gradient(
    to top,
    rgba(255, 255, 255, 0.1) 0,
    rgba(255, 255, 255, 0.1) 2px,
    transparent 2px,
    transparent 10px
  );
}

@utility shadow-toast {
  box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.1) inset, 0 20px 60px 0 rgba(0, 0, 0, 0.54), 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

/* @custom-variant dark (&:is(.dark *)); */
/* @custom-variant @dark {
  @media (prefers-color-scheme: dark) {
    @slot;
  }
} */

@custom-variant @landscape {
  @container (orientation: landscape) {
    && {
      @slot;
    }
  }
}

@custom-variant @portrait {
  @container (orientation: portrait) {
    && {
      @slot;
    }
  }
}
