@import 'tailwindcss';

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../assets/fonts/PPNeueMontreal-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../assets/fonts/PPNeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-*: initial;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff0000;
  --color-orange: #ff3700;
  --color-yellow: #f9ae00;
  --color-green: #54e300;

  --color-grey-100: #ffffff;
  --color-grey-200: #f0f0f0;
  --color-grey-300: #d9d9d9;
  --color-grey-400: #b3b3b3;
  --color-grey-500: #757575;
  --color-grey-600: #444444;
  --color-grey-700: #333333;
  --color-grey-800: #2c2c2c;
  --color-grey-900: #1e1e1e;
  --color-grey-1000: #000000;

  /* Token Colors (changed on light/dark) */
  --color-danger: var(--color-red);
  --color-warning: var(--color-orange);
  --color-success: var(--color-green);
  --color-accent: var(--color-green);

  --spacing: 4px;

  --font-sans: 'PP Neue Montreal', 'Helvetica Neue', sans-serif;
}

@layer base {
  :root {
    --type-18: 18px / 1.2 var(--font-sans);
    --type-22: 22px / 1.2 var(--font-sans);
    --type-36: 28px / 1.5 var(--font-sans);
    --type-48: 48px / 1.5 var(--font-sans);
    --type-52: 52px / 1.5 var(--font-sans);

    --type-22-fluid: clamp(16px, 4px + 3.75cqi, 22px) / 1.5 var(--font-sans);
    --type-36-fluid: clamp(18px, -18px + 11.25cqi, 36px) / 1.2 var(--font-sans);
    --type-48-fluid: clamp(22px, -30px + 16.25cqi, 48px) / 1 var(--font-sans);

    --container-name: default;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* Token Colors (changed on light/dark) */
      --color-danger: var(--color-red);
      --color-warning: var(--color-orange);
      --color-success: var(--color-green);
      --color-accent: var(--color-green);
    }
  }

  .box {
    container-name: var(--container-name, default);
    container-type: inline-size;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
  }
}

@utility container-settings {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

@utility bg-chart-x {
  background-image: repeating-linear-gradient(
    to top,
    rgba(255, 255, 255, 0.1) 0,
    rgba(255, 255, 255, 0.1) 2px,
    transparent 2px,
    transparent 10px
  );
}

/* @custom-variant dark (&:is(.dark *)); */
/* @custom-variant @dark {
  @media (prefers-color-scheme: dark) {
    @slot;
  }
} */

@custom-variant @portrait {
  @container (orientation: portrait) {
    @slot;
  }
}

@custom-variant @landscape {
  @container (orientation: landscape) {
    @slot;
  }
}
