@import './app.css';
@source "../../stories/*.stories.ts";

@utility sb-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

@utility sb-padded {
  padding: 2rem;
}

@utility sb-boxed {
  width: 50%;
  max-width: 400px;
  height: auto;
}

/* Hack because Storybook sucks. */
.sb-show-main {
  background-color: #141414 !important;
  transition: none !important;
}

.sb-resize-container {
  position: absolute;
  top: 40px;
  left: 40px;
  outline: 1px dashed rgba(255, 105, 180, 0);
  min-width: 20px;
  min-height: 20px;
  transition: outline-color 0.3s ease;

  &:hover {
    outline-color: rgba(255, 105, 180, 1);

    .sb-resize-handle,
    .sb-resize-info {
      opacity: 1;
    }
  }
}

.sb-resize-handle {
  position: absolute;
  z-index: 10;
  width: 12px;
  height: 12px;
  outline: 1px solid rgb(255, 105, 180);
  background-color: rgba(255, 105, 180, 0.3);
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sb-resize-handle-nw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}

.sb-resize-handle-ne {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

.sb-resize-handle-sw {
  bottom: -6px;
  left: -6px;
  cursor: sw-resize;
}

.sb-resize-handle-se {
  bottom: -6px;
  right: -6px;
  cursor: se-resize;
}

.sb-resize-info {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
  color: #fff;
  background-color: rgb(255, 105, 180);
  padding: 2px 4px;
  border-radius: 3px;
  transform: translate3d(0, calc(100% + 20px), 0);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
