@import './app.css';
@source "../../stories/*.stories.ts";

@utility sb-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

@utility sb-padded {
  padding: 2rem;
}

@utility sb-boxed {
  width: 50%;
  max-width: 400px;
  height: auto;
}

/* Hack because Storybook sucks. */
.sb-show-main {
  background-color: #141414 !important;
  transition: none !important;
}
