@import '@/css/widgets.css';
@source "./mxm-button.html";
@source "./mxm-button.ts";

.mxm-button {
  @apply relative
    flex
    justify-center
    items-center
    gap-3
    border-none
    px-6
    py-4
    size-full
    min-h-18
    font-sans
    text-white
    text-22
    bg-grey-900
    rounded-14;
}

.mxm-button__content {
  @apply font-medium;
}

.mxm-button__icon {
  @apply shrink-0;

  width: calc(28 / 22 * 1em);
  height: calc(28 / 22 * 1em);
}

.mxm-button__icon--hidden {
  @apply hidden;
}
